.main {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/background.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.main p {
    color: #979797;
    margin: 0;
}

.passRules {
    margin: 20px auto;
    text-align: right;
    font-size: 12px;
    max-width: 400px;
}

.main h4 {
    font-weight: 700;
    padding: 40px 0;
}

.inputs input[type=password] {
    width: 350px;
    max-width: 90%;
    height: 40px;
    margin: 10px auto;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.inputs input[type=password]:focus {
    box-shadow: 0px 0px 6px #653394;
}
.inputs input::placeholder {
    font-size: 14px;
    color: #bebebe;
}
.inputs .button {
    color: #fff;
    background-color: #653394;
    width: 280px;
    max-width: 90%;
    margin: 25px auto 10px auto;
}