
.main {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    background: #ECE9F5;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    /*margin-top: 40px;*/
    border-radius: 4px;
}
.nav {
    /*height: calc(100vh - 200px);*/
    min-height: calc(80vh - 200px);
    width: 100%;
    /*background: #F6F6F6;*/
    /*box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;
}
.profileImage {
    width: 80px;
    height: 80px;
    border: 1px solid #adadad;
    border-radius: 100%;
}
.profileName {
    text-align: center;
    color: #653394;
    line-height: 1.5rem;
    cursor: pointer;
    font-size: 0.95em;
}
.filterButton:hover {
    transform: rotate(360deg);

}
.filterButton{
    transition: transform .7s ease-in-out;
}
.navItems li{
    border-radius: 4px;
    font-weight: bolder;
    /*color: #603695;*/
    font-size: 0.9rem;
}
.navItems li.active {
    background-color: #f8f2ff;
}
.navItems i {
    font-size: 1.0rem;
}

.companyItem {
    font-size: 0.8em;
    color: #686868;
    cursor: pointer;
}
.companyItem:hover {
    color: #5aa3dc;
}
.companyItem:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
}
.companyAccordion {
    background-color: #f8f2ff;
    border-radius: 6px;
}
h5 {
    font-size: 1.1rem;
}
label {
    font-size: 0.9rem;
}
.navItems a{
    color: #6f44a4 !important;
}