.marginCustom{
    margin: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    min-height: 450px;
}
.marginQuide{
    /*margin: 10px;*/
    border-right: 1px solid #6522a5;
    /*border-radius: 10px;*/
    padding: 10px;
    min-height: 270px;
}
.noBorderGuild {
    border-right: 0;
}
.borderBottomGuild {
    border-bottom: 1px solid #6522a5;
}

.borderBottomGuild_sm {
    border-bottom: 0;
}
@media (max-width: 1200px) {
    .borderBottomGuild_sm {
        border-bottom: 1px solid #6522a5;
    }
}
.w90{
    max-width: 90%;
}
.switchlang {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin:  0 25px;
}

.switchlang a {
    color: #000;
}
.frameImg {
    width: 100%;
    height: 260px;
    object-fit: contain;
}


/* hero */

.hero {
    /*background: #F6F6F6;*/
    /*background: rgba(101, 51, 148, 0.1);*/
    margin: 0 auto;
    min-height: 500px;
    padding: 80px 0;
}

.searchBox {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 20px ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.heroContent {
    width: 90%;
    margin: 0 auto;
}

.searchBox input[type="text"], .searchBox select {
    background-color: #f5f2f2;
    border: none;
    border-radius: 10px;
    max-width: 100%;
    color: black;
    font-size: 0.85rem;

}

.searchbtn {
    background: #653394;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    font-size: 0.9rem;
}

.rightContent h2 {
    /*color: rgba(13, 36, 88, 0.5);*/
    color: #653394;
}

.rightContent p {
    /*color: rgba(13, 36, 88, 0.5);*/
    color: #653394;

}

.rightContent button {
    background: #F2994A;
    border: 1px solid #D27A2B;
    border-radius: 5px;
    color: #fff;
    /*width: 100%;*/
    height: 33px;
}
/* Services */

section h3 {
    padding: 50px 0 20px;
    color: #0D2458;
    font-weight: bold;
}

.servicesItems {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.servicesItems .cardCustom  {
    /*filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-4px 0px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
    margin: 20px auto;
    box-shadow: 4px 4px 4px 4px rgba(0.2, 0.2, 0.2, 0.2);
}

.cardCustom  .cardTitle {
    color: #0D2458;
    font-size: 18px;
    font-weight: bolder;
}

.cardCustom  .cardText {
    color: #401568;
    font-size: 15px;
    padding: 15px 10px;
    text-align: right;
    margin-bottom: 0;
}

.cardImgTop {
    padding: 10px;
}

/* roadMap */

.pathTable .row .col-md-4 {
    border: 2px solid rgba(101, 51, 148, 0.5);
}

.pathTable .row img {
    width: 100%;
}

@media screen and (max-width: 786px ) {
    .servicesItems {
        display: block;
        justify-content: center;

    }
}